@charset "utf-8";
/* CSS Document */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
  background-color: #1f1f1f;
}

.main-text h2 {
  font-size: 3.5rem !important;
}

.main-text h1 {
  font-size: 5.5rem !important;
}

.main-text p {
  font-size: 1.5rem !important;
}

.main-model img {
  height: 450px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 10px;
  background-color: #121212;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #e5e5e5;
  font-size: 12px;
}

ul.menu {
  margin-left: auto;
}
.lang {
  color: #e5e5e5;
}

a.lang {
  margin-left: auto;
  margin-right: 1em;
}

.logo img {
  width: 100px;
  height: 100px;
}

.toggle {
  display: none;
}

.toggle:hover {
  cursor: pointer;
}

div.toggle::before {
  margin-left: 30px;
}

.btn-toggle {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, currentColor 4px, transparent 0)
      no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 5px
      14px/2px 6px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat -8px 5px/6px
      2px,
    linear-gradient(to bottom, currentColor 4px, transparent 0) no-repeat 14px
      5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
  color: lemonchiffon;
}

.btn-toggle::after,
.btn-toggle::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px;
}
.btn-toggle::before {
  transform: rotate(-45deg);
}
.btn-toggle::after {
  transform: rotate(45deg);
}

.btn-toggle:hover {
  cursor: pointer;
}

.btn-toggle:focus {
  outline: none;
}

.fa-moon {
  display: none !important;
}

.active a,
.menu li a:hover {
  background-color: #17d1ac;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}

#about {
  width: 100%;
  height: 90vh;
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
  opacity: 0.9;
}

.main-text,
.about-text {
  font-family: calibri;
  width: 50%;
}
.main-text h1,
.about-text h1 {
  font-size: 5rem;
  color: #17d1ac;
}
.main-text h2,
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}
.main-text h1,
h2,
.about-text h1,
h2 {
  margin: 0px;
  padding: 0px;
}
.main-text p,
.about-text p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}
.main-text button,
.about-text button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
  letter-spacing: 3px;
}
.main-text button:hover,
.about-text button:hover {
  background-color: #e5e5e5;
  transition: all ease 0.3s;
  cursor: pointer;
}

#portfolio {
  background-color: #1f1f1f;
  font-family: calibri;
  padding-top: 3rem;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid gray;
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #121212;
  padding: 15px;
}

.post-preview a {
  color: #17d1ac;
}

.post-title {
  color: #e5e5e5;
  margin: 0;
}

.post-intro {
  color: #e5e5e5;
  font-size: 16px;
}

.p-heading {
  font-family: calibri;
  font-size: 2.5rem;
  text-align: center;
  color: #e5e5e5;
  font-weight: 400;
  padding: 10px 20px;
  letter-spacing: 2px;
}

.tools-headline,
.tools {
  color: #e5e5e5;
}

.all-works-button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
  color: black;
  letter-spacing: 3px;
}
.all-works-button:hover {
  background-color: #e5e5e5;
  color: black;
  transition: all ease 0.3s;
  cursor: pointer;
}

.all-works-div {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.fa-envelope {
  margin-right: 5px;
}

.mail {
  margin-top: 1em;
  display: grid;
  justify-content: center;
  font-size: 1.4rem;
}

.mail a {
  text-decoration: none;
  color: #fff;
}

.mail a:hover {
  color: #17d1ac;
}

.footer-wrapper {
  display: grid;
  justify-content: center;
}

.footer-wrapper ul {
  list-style: none;
}

.footer-wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

.footer-wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.footer-wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.footer-wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* github */
.footer-wrapper ul li:hover.github {
  border: 5px solid #afb5bb;
  box-shadow: 0 0 15px #afb5bb;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-github {
  color: #afb5bb;
  text-shadow: 0 0 15px #afb5bb;
  transition: all 0.5s ease;
}

.copyright {
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}

@media (max-width: 1190px) {
  .main-model img,
  .about-model img {
    height: 400px;
  }
  .main-text h2 {
    font-size: 3rem !important;
  }

  .main-text h1 {
    font-size: 5rem !important;
  }

  .main-text p {
    font-size: 1.2rem !important;
  }
}
@media (max-width: 970px) {
  #main,
  #about {
    justify-content: center;
    padding-top: 0px;
  }

  .about-model {
    display: none;
  }

  .main-model img {
    height: 300px;
  }
  .main-text,
  .about-text {
    width: 90%;
  }
  .main-text h1,
  .about-text h1 {
    font-size: 4rem;
  }
}
@media (max-width: 900px) {
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -30px;
    color: rgb(23, 209, 172);
  }
  .toggle.active:before {
    content: "\f00d" !important;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 100px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    display: none !important;
    border: 3px solid #1f1f1f;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }

  .active-menu {
    display: block !important;
  }

  nav ul li a:hover {
    background-color: rgba(27, 29, 32, 0.15);
  }

  #portfolio {
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  .main-text {
    padding-top: 4em;
  }

  #main,
  #about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    justify-items: center;
  }

  .main-model {
    display: block;
  }

  .main-model img {
    height: 200px;
  }

  .fa-2x {
    font-size: 1em;
  }
  .footer-wrapper ul li {
    border: none;
  }
  .footer-wrapper ul li:hover.github,
  .footer-wrapper ul li:hover.facebook,
  .footer-wrapper ul li:hover.twitter,
  .footer-wrapper ul li:hover.instagram {
    border: none;
  }
}

@media (max-width: 450px) {
  #main {
    grid-row-gap: 20px;
  }

  #main,
  #about {
    align-items: center;
  }
  .main-text h1 {
    font-size: 4rem !important;
  }
  .footer-wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
}

@media (max-width: 350px) {
  #main {
    padding-top: 3em;
  }
}

@media (max-height: 750px) {
  #about {
    height: auto;
  }

  #main {
    height: auto;
    padding-top: 4em;
  }
}
