@charset "utf-8";
/* CSS Document */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
#main {
  padding: 30px 50px;
  position: relative;
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
  background-size: 1330px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url("../images/bg-new.png");
  background-color: #edf1fd;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.menu {
  display: flex;
}
.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 12px;
}
.lang {
  color: #292929;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #292929;
  font-family: Poppins;
}
.toggle {
  display: none;
}

.toggle:hover {
  cursor: pointer;
}

.btn-toggle {
  color: #fff;
  background-color: #292929;
  padding: 0.5rem;
  text-decoration: none;
  border: none;
}

.btn-toggle::before {
  content: "🌑";
  animation: moon 2s infinite;
}
@keyframes moon {
  12.5% {
    content: "🌑";
  }
  25% {
    content: "🌒";
  }
  37.5% {
    content: "🌓";
  }
  50% {
    content: "🌔";
  }
  62.5% {
    content: "🌕";
  }
  75% {
    content: "🌖";
  }
  87.5% {
    content: "🌗";
  }
  100% {
    content: "🌘";
  }
}

.btn-toggle:hover {
  cursor: pointer;
}

.active a,
.menu li a:hover {
  background-color: #17d1ac;
  color: #fff !important;
  font-weight: bold;
  transition: all ease 0.4s;
  cursor: pointer;
}
.name {
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}
.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 16px;
}
.name h1 {
  font-family: Poppins;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 3px;
  color: #292929;
}
.works-btn {
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color: #ffffff;
  letter-spacing: 3px;
}
.works-btn:hover {
  background-color: #17d1ac;
  color: #000000;
  transition: all ease 0.5s;
  cursor: pointer;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}
.social a {
  margin: 6px 12px;
}
.social i {
  color: rgba(18, 17, 17, 0.4);
  font-size: 14px;
}
.social a:hover i {
  color: #17d1ac;
  transition: all ease 0.5s;
}
#about {
  width: 100%;
  height: 90vh;
  background-color: #161616;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
}

.about-text {
  font-family: calibri;
  width: 50%;
}
.about-text h1 {
  font-size: 5rem;
  color: #17d1ac;
}
.about-text h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
}
.about-text h1,
h2 {
  margin: 0px;
  padding: 0px;
}
.about-text p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.9);
}
.about-text button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;
  letter-spacing: 3px;
}
.about-text button:hover {
  background-color: #ffffff;
  transition: all ease 0.3s;
  cursor: pointer;
}

.social-darkbackground i {
  color: #fff;
}

#portfolio {
  background-color: #edf1fd;
  font-family: calibri;
  padding-top: 3rem;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid gray;
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: #fff;
  padding: 15px;
}

.post-preview a {
  color: #17d1ac;
}

.post-title {
  color: black;
  margin: 0;
}

.post-intro {
  color: #4b5156;
  font-size: 16px;
}

.p-heading {
  font-family: calibri;
  font-size: 2.5rem;
  text-align: center;
  color: black;
  font-weight: 400;
  padding: 10px 20px;
  letter-spacing: 2px;
}

.github-button {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
  letter-spacing: 3px;
}
.github-button:hover {
  background-color: #17d1ac;
  color: black;
  transition: all ease 0.3s;
  cursor: pointer;
}

.github-button-div {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.fa-envelope {
  margin-right: 5px;
}

.mail {
  margin-top: 1em;
  display: grid;
  justify-content: center;
  font-size: 1.4rem;
}

.mail a {
  text-decoration: none;
  color: #fff;
}

.footer-wrapper {
  display: grid;
  justify-content: center;
}

.footer-wrapper ul {
  list-style: none;
}

.footer-wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

.footer-wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.footer-wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.footer-wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* github */
.footer-wrapper ul li:hover.github {
  border: 5px solid #afb5bb;
  box-shadow: 0 0 15px #afb5bb;
  transition: all 0.5s ease;
}

.footer-wrapper ul li:hover .fa-github {
  color: #afb5bb;
  text-shadow: 0 0 15px #afb5bb;
  transition: all 0.5s ease;
}

.copyright {
  text-align: center;
  color: #fff;
  margin-bottom: 1em;
}

@media (max-width: 1190px) {
  #main {
    background-size: 1150px !important;
  }
  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }
  .about-model img {
    height: 400px;
  }
}
@media (max-width: 970px) {
  #main {
    background-image: none !important;
  }
  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .about-model {
    display: none;
  }
  #about {
    justify-content: center;
    padding-top: 0px;
  }
  .about-text {
    width: 90%;
  }
  .about-text h1 {
    font-size: 4rem;
  }
}
@media (max-width: 900px) {
  .toggle {
    display: block;
  }
  .toggle:before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 0px;
    margin-left: -30px;
  }
  .toggle.active:before {
    content: "\f00d" !important;
  }

  nav {
    padding: 10px 30px;
  }

  nav ul {
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #0f0f0f;
    top: 50px;
    left: 0;
    transition: 0.5s;
    overflow: hidden;
    display: none !important;
    border: 3px solid #1f1f1f;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ffffff !important;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
  }
  nav ul {
    padding: 0px;
    margin: 0px;
  }

  .active-menu {
    display: block !important;
  }

  nav ul li a:hover {
    background-color: rgba(27, 29, 32, 0.15);
  }

  #portfolio {
    padding-top: 1rem;
  }
}

@media (max-width: 800px) {
  #about {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
    align-items: baseline;
    justify-items: center;
  }

  .fa-2x {
    font-size: 1em;
  }
  .footer-wrapper ul li {
    border: none;
  }
  .footer-wrapper ul li:hover.github,
  .footer-wrapper ul li:hover.facebook,
  .footer-wrapper ul li:hover.twitter,
  .footer-wrapper ul li:hover.instagram {
    border: none;
  }
}

@media (max-width: 600px) {
  .name {
    width: 60%;
  }
}

@media (max-width: 450px) {
  #about {
    align-items: center;
  }

  .footer-wrapper ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }
}

@media (max-height: 415px) {
  .social {
    right: 50px;
    left: unset;
  }
}

@media screen and (max-width: 350px), screen and (max-height: 330px) {
  #about {
    display: inline-table;
  }
}

/* --------------------------- */
