html {
  height: 100%;
}

body {
  background-color: #1f1f1f !important;
}

/*  image-slider */

.container {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 4em;
}

.slider-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider-inner img {
  display: none;
  width: 100%;
  height: 100%;
}

.slider-inner img.active {
  display: inline-block;
}

.prev,
.next {
  cursor: pointer;
  outline: none;
  opacity: 0.5;
}

.prev {
  float: left;
  position: relative;
  z-index: 100;
  top: 30em;
  left: 0.1em;
}

.next {
  float: right;
  position: relative;
  z-index: 100;
  top: -36.1em;
  right: 0.1em;
}

footer,
div.copyright {
  background-color: #121212;
}

/* Media Queries  */
@media screen and (max-width: 1020px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
  }

  .prev {
    float: left;
    position: relative;
    z-index: 100;
    top: 25em;
  }

  .next {
    float: right;
    position: relative;
    z-index: 100;
    top: -28em;
  }
}

@media screen and (max-width: 835px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 2em;
  }

  .prev {
    float: left;
    position: relative;
    z-index: 100;
    top: 20.2em;
  }

  .next {
    float: right;
    position: relative;
    z-index: 100;
    top: -21em;
  }
}

@media screen and (max-width: 635px) {
  .container {
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 10em;
  }

  .slider-outer {
    padding-bottom: 5em;
  }

  .prev {
    top: 14.1em;
  }

  .next {
    top: -14.4em;
  }

  .prev,
  .next {
    opacity: 0.3;
  }
}

@media screen and (max-width: 435px) {
  .container {
    max-width: 270px;
    margin: 0 auto;
    overflow: hidden;
  }

  .slider-outer {
    padding-bottom: 6em;
  }

  .prev {
    top: 10em;
  }

  .next {
    top: -10.5em;
  }

  .prev,
  .next {
    opacity: 0.2;
  }
}
