@media(min-width:769px) {
    body {
        font-size: 20px;
    }
    header {
    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(first-page-image.jpeg);
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(first-page-image.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    max-height: 1140px;
}
    #navbar {
        display: block;
    }
    
    
    .main-nav {
    font-size: 17px;
    float: left;
    list-style: none;
    margin: 1em;
    padding: 0;
    border: 0;
}

   .social-links {
    display: inline-block;
    list-style: none;
    float: right;
    font-size: 17px;
    padding-right: 20px;   
} 
    .mqs {
        display: none;
    }
    
   .about {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
}

.about h1 {
    color: #555;
    margin-top: 0;
    padding-top: 1px;
    font-size: 35px;
    text-align: center;
    display: block;
}

.about-text {
    font-size: 20px;
    text-align: justify;
}

section img {
    float: left;
    width: 50%;
    text-align: left;
    padding-right: 5px;
    margin-right: 20px;
    border-radius: 15px;
    
}
    .project {
    background-color: #fff;
    
}

.project-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px;
    padding: 30px;
    border: 5px solid rgb(34, 158, 214);
}

.project h1 {
    color: rgba(57, 49, 49, 0.84);
    margin-top: 0;
    padding-top: 1px;
    font-size: 35px;
    text-align: center;
    display: block;
}
    
.ion-arrow-down-a {
    color: rgba(255, 255, 255, 0.73);
    font-size: 2em;
    display: block;
    text-align: center;
    padding-top: 2em;
}    
    
/* ----------------------------------------------- */
/* WORK SECTION */
/* ----------------------------------------------- */

.work {
    background-color: rgb(237, 237, 237);
    margin: 20px -20px;
    padding: 2em;
    
    
}


.work h1 {
    color: rgba(57, 49, 49, 0.84);
    margin-top: 0;
    padding-top: 1px;
    font-size: 35px;
    text-align: center;
    display: block;
}
    
    #work-h2 {
        display: inline-block;
        float: right;
        padding-right: 1em;
    }    



.work-text {
    color: rgba(57, 49, 49, 0.84);
    float: left;
    text-align: justify;
    padding-right: 1px;
    font-weight: 400;
    letter-spacing: 1px;
    
    
    
}

.work .project1 {
    float: right;
    width: 50%;
    text-align: right;
    padding-left: 5px;
    margin-left: 20px;
    border-radius: 15px;
    

}

.employer-name {
    display: block;
    padding: 11em;
    text-align: center;
    margin: 0 auto;
}

cite img {
    margin: 0 auto;
    display: inline-block;
    height: 8em;
    border-radius: 50%;
    vertical-align: middle;
    width: auto; 
}

a#btn-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 18em;
}

}

@media(max-width:600px) {
    .work-text {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .work .project1 {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        padding-bottom: 20px;
    }
}