

/* Big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row {
        padding-right: 10px;
        padding-left: 5px;
        
    }
    
}



/* Small tablets to big tablets: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    
    .social-links {
        display: none;
    }
    
    .row {
        padding-right: 10px;   
    }
    
    .main-nav {
        padding-left: 45px;
    }
    .about-text {
    font-weight: 400;
    letter-spacing: normal;
    }
    body {
        font-size: 17px;
    }
    .omnifood-header {
        display: none;
    }
    .mqs {
        display: inline;
        padding-right: 35%;
    }
}



/* Small phones to  small tablets: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body {
        font-size: 15px;
    }
    .row {
        padding-right: 10px;   
    }
    .main-nav {
        width: 100%;
        padding: 0;
        font-size: 15px;
    }
    .mq {
        padding-top: 50%;
    }
    footer img {
        margin-left: 37%;
    }
    section {
        padding: 30px 0;
    }
    .project-item {
    display: block;
    }
    .logo {
        display: none;
    }
    .main-nav {
        width: 30%;
        padding-left: 26%;
        font-size: 20px;
    }
    .copyright {
        margin-left: -10%;
        
    }
    .sticky {
        display: none;
    }
    
    .btn:link,
    .btn:visited {
        margin-left: 37%;
        margin-top: 0;
    }
    .mqs {
        display: inline;
        padding-right: 25%;
    }
    
    
}



/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
    footer img {
        margin-left: 30%;
    }
    .sticky {
        display: none;
    }
    .btn:link,
    .btn:visited {
        margin-left: 35px;
        margin-top: 0;
    }
    .mqs {
        display: inline;
        padding-right: 25%;
        width: 50%;
    }
    
}